<!-- About Section -->
    <section id="about">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">업무분야</h2>
                    <h3 class="section-subheading text-muted">형사사건 4000건과 높은 승소율, 정직하고 소통하는 변호사들</h3>
                </div>
            </div>
            
            
             <div class="row">
                 
                 
                 <div class="col-sm-6 mb-3">
                         <div class="card  border-dark "  >
                             
                            <a href="#" class="card-link"  data-toggle="modal" data-target="#about1"> 
                            
                              
                                 
                             <img src="img/civilcase.png" class="card-img-top" alt="..." >
                             
                                <div class="card-body">
                                    <h5 class="card-title">민사소송</h5>

                                    <p class="card-text">- 가압류, 가처분 등 보전처분</p>
                                    <p class="card-text">- 대여금, 물품대금, 손해배상 등 금전청구소송</p>
                                    <p class="card-text">- 인도, 철거, 보상 등 부동산 관련 분쟁</p>
                                    <p class="card-text">- 개인회생, 개인파산</p>
                                    <p class="card-text"> </p>
                                 </div>
                             
                             
                            </a> 
                             
                                                    
                             
                         </div>
                     

                     
                     
                 </div>
                 
                 
                <div class="col-sm-6 mb-3">
                           <div class="card mb-3" >
                               
                               <a href="#" class="card-link" data-toggle="modal" data-target="#about2"> 
                               
                               <img src="img/crim.png" class="card-img-top" alt="...">
                               
                                     <div class="card-body">
                                         <h5 class="card-title">형사</h5>
                                         <p class="card-text">- 형사고소/고발, 피해자 보호 및 대리</p>
                                         <p class="card-text">- 형사피의사건 경찰, 검찰 수사대응</p>
                                         <p class="card-text">- 형사공판 변호, 공탁, 합의</p>
                                         <p class="card-text">- 형사보상청구(무죄), 비용보상청구</p>
                                         <p class="card-text"> </p>
                                         <p class="card-text"> </p>


                                     </div>
                               
                               </a>     
                               
                            </div>
                    

                    
                </div>
                 
                <div class="col-sm-6 mb-3">
                           <div class="card mb-3 " >
                               
                                <a href="#" class="card-link" data-toggle="modal" data-target="#about3"> 
                               
                               <img src="img/administrative.png" class="card-img-top" alt="...">
                               
                                     <div class="card-body">
                                         <h5 class="card-title">행정소송</h5>
                                         <p class="card-text">- 행정심판</p>
                                          <p class="card-text">- 행정처분에 대한 이의신청, 집행정지</p>
                                          <p class="card-text">- 행정처분(영업정지, 허가취소)취소 소송</p>
                                          <p class="card-text">- 교통사고, 음주운전(면허정지, 면허취소) 취소</p>
                                         <p class="card-text"> </p>
                                         <p class="card-text"> </p>

                                     </div>
                               
                               </a>                             
                               
                            </div>

                    
                </div>
                 
                 
                 
                 <div class="col-sm-6 mb-3">
                         <div class="card mb-3">
                             
                             <a href="#" class="card-link" data-toggle="modal" data-target="#about4"> 
                             
                             <img src="img/famil.png" class="card-img-top" alt="...">
                             
                                <div class="card-body">
                                    <h5 class="card-title">가사소송</h5>
                                    <p class="card-text">- 이혼, 친권, 양육권, 재산분할, 위자료 소송</p>
                                    <p class="card-text">- 유언, 상속, 유류분 청구</p>
                                    <p class="card-text">- 성년후견, 한정후견, 후견감독 관련사건</p>
                                    <p class="card-text">- 기타 인지, 친생자관계, 입양, 성본변경, 성명변경 등 각종 가족관계등록의 문제</p>
        <p class="card-text"></p>
                                    <p class="card-text"></p>
                                    
                                 </div>
                                 
                             </a>    
                                 
                         </div>

                             


                 </div>
                 
                 

                 
    
            </div>


      </div>
    </section>
