<!-- About Section -->
    <section id="about">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">업무분야</h2>
                    <h3 class="section-subheading text-muted">형사사건 4000건과 높은 승소율, 정직하고 소통하는 변호사들</h3>
                </div>
            </div>
            
            
             <div class="row">
                 
                 
                 <div class="col-sm-4">
                         <div class="card mb-3 border-dark"  >
                             
                            <a href="#" class="card-link" data-toggle="modal" data-target="#about1"> 
                             
                             
                             <img src="img/civilcase.png" class="card-img-top" alt="..." >
                             
                                <div class="card-body">
                                    <h5 class="card-title">민사</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    
                                 </div>
                             
                             
                            </a> 
                             
                             
                             <div class="modal fade" id="about1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role= "dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <p>test</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
                             
                             
                             
                             
                         </div>
                 </div>
                 
                 
                <div class="col-sm-4">
                           <div class="card mb-3" >
                               <img src="img/crim.png" class="card-img-top" alt="...">
                               
                                     <div class="card-body">
                                         <h5 class="card-title">형사</h5>
                                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                     </div>
                            </div>
                </div>
                 
                <div class="col-sm-4">
                           <div class="card mb-3 " >
                               <img src="img/administrative.png" class="card-img-top" alt="...">
                               
                                     <div class="card-body">
                                         <h5 class="card-title">행정</h5>
                                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                     </div>
                            </div>
                </div>
                 
                 
                 
                 <div class="col-sm-4">
                         <div class="card mb-3">
                             <img src="img/famil.png" class="card-img-top" alt="...">
                             
                                <div class="card-body">
                                    <h5 class="card-title">이혼</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    
                                 </div>
                         </div>
                 </div>
                 
                 
                <div class="col-sm-4">
                           <div class="card mb-3" >
                               <img src="img/lastwish.png" class="card-img-top" alt="...">
                               
                                     <div class="card-body">
                                         <h5 class="card-title">상속</h5>
                                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                     </div>
                            </div>
                </div>
                 
                <div class="col-sm-4">
                           <div class="card mb-3 " >
                               <img src="img/realest.png" class="card-img-top" alt="...">
                               
                                     <div class="card-body">
                                         <h5 class="card-title">부동산</h5>
                                         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                     </div>
                            </div>
                </div>
                 
    
            </div>


      </div>
    </section>
