  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                       <style type="text/css">
                          a:link { color: black; text-decoration: none;}
                          a:visited { color: black; text-decoration: none;}
                          a:hover { color: blue; text-decoration: underline;}
                        </style>

                        <li><a href="tel:02-3493-7707">대표전화:02-3493-7707</a>
                        </li>
                        <li><a href="tel:010-5194-7708">대표변호사 박지숙:010-5194-7708</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


