<!-- Services Section -->
    <section id="location">
       
   
        
        
        <div class="container mt-5" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">오시는길</h2>
                </div>
                
            </div>
            
        </div>     
       
       
         
          <div class="container mt-5">
                       
           

              
                      <!-- * 카카오맵 - 지도퍼가기 -->
<!-- 1. 지도 노드 -->
<div id="daumRoughmapContainer1659345884802" class="root_daum_roughmap root_daum_roughmap_landing" style="width=100%" style="height=100%"></div>

<!--
	2. 설치 스크립트
	* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
-->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 3. 실행 스크립트 -->
<script charset="UTF-8">
	new daum.roughmap.Lander({
		"timestamp" : "1659345884802",
		"key" : "2b8f4",


	}).render();
</script>
              
              
            </div>
                
                
                
            
                
            
            
          
            

             
            

        

<div class="container mt-5">
        <table class="table table-bordered">
  <thead>
    
  </thead>
  <tbody>
    <tr>
      
      
      <td>주소</td>
      <td colspan="2">서울 도봉구 도봉로168길 13 3호(우편번호:01321)</td>
    </tr>
    <tr>
      
      <td>전화번호</td>
      <td colspan="2">02-3493-7707</td>
      
    </tr>
    <tr>
        
      <td>Email</td>
      <td colspan="2">daylifelaw@naver.com</td>
      
    </tr>
  </tbody>
</table>

</div>
        
         <div class="container mt-5" >
            <div class="row">
                <div class="col-lg-12 text-center">
                      <a href="https://m.booking.naver.com/booking/13/bizes/231733/items/3043350?theme=place&service-target=map-pc&area=plt">
                            <img src="img/logos/naver_booking.jpg" class="img-responsive img-centered" alt="" height= "60" width= "136">
                        </a>

                </div>
                
            </div>
            
        </div> 
        
        
      
        
    </section>



