<!-- Services Section -->
    <section id="location">
       
   
        
        
        <div class="container mt-5" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">오시는길</h2>
                </div>
                
            </div>
            
        </div>     
       
       
         
          <div class="container mt-5">
                       
           
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="100%" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1578.8841654495839!2d127.0444447583685!3d37.67815109494433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cb9298725a59f%3A0x3ba30229e6500c01!2s3%2C%2013%20Dobong-ro%20168-gil%2C%20Dobong-gu%2C%20Seoul!5e0!3m2!1sen!2skr!4v1650773645569!5m2!1sen!2skr&zoom=9" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        
                        <br>
                        <style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}
                        </style>
                       
                        <style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
                        </style>
                    
                    </div>
                </div>
              
                      <!-- * 카카오맵 - 지도퍼가기 -->
<!-- 1. 지도 노드 -->
<div id="daumRoughmapContainer1659345884802" class="root_daum_roughmap root_daum_roughmap_landing" style="width=100%"></div>

<!--
	2. 설치 스크립트
	* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
-->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 3. 실행 스크립트 -->
<script charset="UTF-8">
	new daum.roughmap.Lander({
		"timestamp" : "1659345884802",
		"key" : "2b8f4",
		"mapHeight" : "360",

	}).render();
</script>
              
              
            </div>
                
                
                
            
                
            
            
          
            
            </div>
             
            
         </div>
        

<div class="container mt-5">
        <table class="table table-bordered">
  <thead>
    
  </thead>
  <tbody>
    <tr>
      
      
      <td>주소</td>
      <td colspan="2">서울 도봉구 도봉로168길 13 3호(우편번호:01321)</td>
    </tr>
    <tr>
      
      <td>전화번호</td>
      <td colspan="2">02-3493-7707</td>
      
    </tr>
    <tr>
        
      <td>Email</td>
      <td colspan="2">daylifelaw@naver.com</td>
      
    </tr>
  </tbody>
</table>

</div>
        
         <div class="container mt-5" >
            <div class="row">
                <div class="col-lg-12 text-center">
                      <a href="https://m.booking.naver.com/booking/13/bizes/231733/items/3043350?theme=place&service-target=map-pc&area=plt">
                            <img src="img/logos/naver_booking.jpg" class="img-responsive img-centered" alt="" height= "60" width= "136">
                        </a>

                </div>
                
            </div>
            
        </div> 
        
        
      
        
    </section>



