<!-- Services Section -->
    <section id="location">
       
   
        
        
        <div class="container mt-5" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">오시는길</h2>
                </div>
                
            </div>
            
        </div>     
       
       
         
          <div class="container mt-5">
                       
           
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=13%20%20,%20dobongro168,%20seoul&t=&z=13&ie=UTF8&iwloc=&output=embed&zoom=5" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        
                        <br>
                        <style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}
                        </style>
                       
                        <style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
                        </style>
                    
                    </div>
                </div>
            </div>
                
                
                
            
                
            
            
          
            
            </div>
             
            
         </div>
        

<div class="container mt-5">
        <table class="table table-bordered">
  <thead>
    
  </thead>
  <tbody>
    <tr>
      
      
      <td>주소</td>
      <td colspan="2">서울 도봉구 도봉로168길 13 3호(우편번호:01321)</td>
    </tr>
    <tr>
      
      <td>전화번호</td>
      <td colspan="2">02-3493-7707</td>
      
    </tr>
    <tr>
        
      <td>Email</td>
      <td colspan="2">daylifelaw@naver.com</td>
      
    </tr>
  </tbody>
</table>

</div>
        
         <div class="container mt-5" >
            <div class="row">
                <div class="col-lg-12 text-center">
                      <a href="https://m.booking.naver.com/booking/13/bizes/231733/items/3043350?theme=place&service-target=map-pc&area=plt">
                            <img src="img/logos/naver_booking.jpg" class="img-responsive img-centered" alt="" height= "60" width= "136">
                        </a>

                </div>
                
            </div>
            
        </div> 
        
        
      
        
    </section>



