<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">인삿말</h2>
                    <h3 class="section-subheading text-muted">소중한 일상을 돌려드리는 법률사무소 하루입니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">신속한 분쟁해결</h4>
                    <p class="text-muted">법률사무소 하루는 전문성을 토대로 정확하고 신속한 법률서비스를 제공합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">4,000건 이상의 사건 처리</h4>
                    <p class="text-muted">4,000건 이상의 형사사건과 수많은 가사 사건을 처리하며 전문성과 경험을 갖췄습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">소통하는 사람들</h4>
                    <p class="text-muted">하루의 소속 변호사들은 의뢰인과 소통하며 의뢰인 입장에서 고민하는 변호사들입니다. </p>
                </div>
            </div>
        </div>
    </section>
