<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">소속변호사</h2>
                    <h3 class="section-subheading text-muted">유능하고 소통하는 사람들</h3>
                </div>
            </div>
            
             {% for member in site.people %}
            
            <div class="row">
               
                <div class="col-sm-6">
                    
                    
                        
                    <div class="team-member">
                    
                    <a href="#myModal{{ member.pic }}" data-toggle="modal">   
                    
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive " alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        
                    </a>
                        
                    

                        
                    <div class="modal fade" id="myModal{{ member.pic }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ member.name }} {{ member.position }} 이력</h4>
      </div>
      <div class="modal-body">
        
          <img src="img/team/{{ member.pic }}_{{ member.pic }}.jpg" class="img-responsive " alt="">
          
          
         <h4 class="modal-title">학력</h4> 
         <ul class="list-group mb-0 ">
                            {% for course in member.degree %}
                            <li class= "list-group-item ">
                                {{course.graduated}}
                            </li>
                            {% endfor %}

                        </ul> 
          
          <h4 class="modal-title ">경력(前)</h4> 
          <ul class="list-group mb-0 ">
                            {% for past in member.resume %}
                            <li class= "list-group-item">
                             {{past.underwent}}
                            </li>
                            {% endfor %}

                        </ul> 
          
          <h4 class="modal-title">이력(現)</h4> 
          
          <ul class="list-group mb-0 ">
                            {% for present in member.current %}
                            <li class= "list-group-item">
                                {{present.doing}} 
                            </li>
              
                            {% endfor %}

                        </ul> 
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
        
                        
                        <ul class="list-inline ">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    
                    
                    

                    
                    
                    
                </div>
               
                
                
                 <div class="col-sm-6">
                         <div class="card mb-3 border-dark"  >
                             <img src="img/civilcase.png" class="card-img-top" alt="..." >
                             
                                <div class="card-body">
                                    <h5 class="card-title">민사</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    
                                 </div>
                         </div>
                 </div>
                
                
            </div>
            
             {% endfor %}
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">법률사무소 하루는 각 변호사가 가지는 전문성을 토대로 정확한 법률서비스를 제공하기 위하여 꾸준히 연구하고, 의뢰인의 문제해결에 최선을 다하고 있습니다.</p>
                </div>
            </div>
        </div>
    </section>
